* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    width: 100%;
    margin: auto;
    
}

/* logo */

.logo-container {
    display: flex;
    height: 32px;
    padding: 0px 20px;
    background: #EAF5FE;
}

.logo-img {
    width: 18px;
    height: 20px;
    margin-top: 8px;
}

.logo-link {
    color: #032D60;
    font-size: 11px;
    font-family: Roboto;
    line-height: 18px;
    margin-left: 12px;
    padding-top: 10px;
    text-decoration: none;
}

.logo-text-slash {
    color: #444;
    font-size: 11px;
    font-family: Roboto;
    line-height: 18px;
    margin-left: 8px;
    padding-top: 10px;
}

.logo-text {
    color: #444;
    font-size: 11px;
    font-family: Roboto;
    line-height: 18px;
    margin-left: 8px;
    padding-top: 10px;
}

.img-heroku {
    width: 143px;
    height: 50px;
    margin: 16px 14px 20px 20px;
}

.logo-heroku {

    background-color: #3B2F63;
    background-image: radial-gradient(circle at 50% top,
            rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%),
        radial-gradient(circle at right top, #794aa2 0%,
            rgba(121, 74, 162, 0) 57%);
}

.logo-img-logo {
    display: flex;
}

.link-selekt-products,
.link-select-marketplace,
.link-selest-more {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-heroku-up-left {
    display: flex;
    width: 40%;
    gap: 12px;
    align-items: center;

}

.logo-heroku-up {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-elements {
    display: flex;
    margin-right: 20px;
    color: rgba(242, 238, 255, 0.60);

}

.search-elements-text {
    width: 99.2px;
    height: 15px;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.search-elements-txt-btn {
    display: flex;
    width: 145px;
    height: 33.55px;
    padding: 9px 0 9px 11px;
    align-items: center;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.10);
    margin-right: 18px;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
}

.search-elements-btn {
    width: 20px;
    height: 20px;
    background-color: initial;
    border-color: none;
    border: 0;

}

.img-btn {
    border-radius: 50%;
    padding-top: 4px;
}

.search-or {
    display: flex;
}

 .logo-heroku a {
    color: rgba(242, 238, 255, 0.60);
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
    text-decoration: none;
    transition: 150ms;
}

select {
    background-color: initial;
    color: rgba(242, 238, 255, 0.60);
    border: none;
    transition: 120ms;
}
.logo-heroku a:hover,
select:hover {
    color: #FFF;
}

.login-elements {
    display: flex;
    gap: 7.5px;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px;
    margin: 8px 5px 0 0;
}

.sign-elements {
    color: #FFF;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.20);
    border: none;
    padding: 0 12px 0 12px;
    transition: 150ms;
}

.sign-elements:hover {
    background: rgba(5, 5, 5, 0.445);
}

.center {
    max-width: 740px;
    height: 200px;
    align-items: center;
    margin: 68px auto 0 auto;
}

.center-icon {
    width: 48.02px;
    height: 48px;
    flex-shrink: 0;
    margin: 0 0 12px 360px;
}

.center-title {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: 43.2px;
    margin-bottom: 17px;
}

.center-text {
    color: #CCBFDB;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
}

/* main bar */

main {
    max-width: 1160px;
    margin: auto;
   
}

.main-bar {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    align-items: center;
    cursor: pointer;
}

.img-bar {
    width: 16.02px;
    height: 16px;
    margin: 12px 0 0 0;
}

.link-bar {
    color: rgba(121, 88, 159, 0.60);
    font-size: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 6px;
    text-decoration: none;
    transition: 150ms;
}


.link-bar:hover {
    color: #79589F;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    margin-top: 44px;
}
.category-label {
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 44px;
    border-bottom: 1px solid #D8DDE6;
}

.text-dark {
    color: #3F3F44;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
}

.card-container-main {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.card-container {

    width: 284px;
    height: 220px;
    border-radius: 2px;
    border: 1px solid #D8DDE6;
    background: #FFF;
    transition: 150ms;
    cursor: pointer;
}

.card-container:hover {
    border: 1px solid #79589F;
    box-shadow: 0px 0px 1px rgba(74, 74, 74, 0.3);
}

.card {
    height: 160px;
    padding: 0 20px;
    padding-top: 15px;
}

.card-title {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #3F3F44;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px;
}

.text-card {
    color: #3F3F44;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 16.8px;
    margin-top: 20px;
}

.card-line {
    background: linear-gradient(to left, #64438B, #C6ACE5);
    width: 100%;
    height: 1px;
    margin-top: 15px;
}

.text-card-down {
    color: #4C4C4C;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 15px;
}



.card-down {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    color: #3F3F44;

}

.card-down-left {
    display: flex;
    gap: 9px;
}

.icon-num {
    display: flex;
    gap: 2px;
    font-size: 12px;
    align-items: center;
}

.card-down-hight {
    height: 43px;
    background: rgba(242, 242, 245, 0.50);
    margin-top: 18px;
}

.card-down-right img {
    width: 14px;
    height: 14px;
}


.category-label-two {
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
    margin-bottom: 30px;
    margin-top: 35px;
    border-bottom: 1px solid #D8DDE6;
}

.category-label-left {
    display: flex;
    gap: 13px;
}

.category-label-left h5 {
    color: #3F3F44;
    font-size: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
}

.category-label-left p {
    color: #3F3F44;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px;
}

.category-label-right {
    display: flex;
    gap: 14px;
}

.category-label-right p {
    color: #9B9FA2;
    text-align: right;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

#sort {
    color: #3F3F44;
    font-size: 12.333px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    border: none;
    outline: none;
    width: 258px;
    border-radius: 3px;
    border: 1px solid #CBCBD2;
    background: lightgray 262.878px 12.686px 2.518% 31.429% no-repeat, #FFF;
}


.wrapper {
    margin-top: 90px;
    
    display: flex;
    justify-content: space-between;
    height: 82px;
    
}
.btn-left button {
    padding: 5px 0.01px 5px 0px;
    align-items: flex-start;
    gap: 3.51px;
    width: 60px;
    height: 28px;
    color: #CFD7E6;
    text-align: center;
    font-size: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    border-radius: 3px;
    background: #F9F9FB;
    box-shadow: 0px 0px 0px 1px #CFD7E6 inset;
    border: none;
    cursor: not-allowed;
}

.btn-rihgt button {
    padding: 5px 0.01px 5px 0px;
    align-items: flex-start;
    gap: 3.51px;
    width: 60px;
    height: 28px;
    color:  #79589F;
    text-align: center;
    font-size: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    border-radius: 3px;
    background:  #F9F9FB;
    box-shadow: 0px 0px 0px 1px  #79589F inset;
    border: none;
    cursor: pointer;
}
.wrapper-text p {
    color: #3F3F44;
text-align: center;
font-size: 13px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 19.5px;
}

.list {
    
    display: flex;
    justify-content: center;
    gap: 34px;
    background: rgba(240, 240, 240, 0.50);
    height: 64px;
    align-items: center;
    
}

.nav-list-right a,
.nav-list-left a {
    text-decoration: none;
    color: #9B9FA2;
    text-align: center;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px; 
    transition: 150ms; 
    
}
.nav-list-left a:hover,
.nav-list-right a:hover {
    color:  #3F3F44;
}

footer {
    width: 100%;
    margin: auto;
    background: #F0F0F0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 77px 30px;
    margin-left: 350px;
    margin-right: 350px;
}
li {
    list-style: none;
    
}

a {
    text-decoration: none;
}
.li-title-text  {
   margin-bottom: 15px;
   color: #211746;
font-size: 12px;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: 13.2px;
letter-spacing: 1.2px;
text-transform: uppercase;
}
.footer-container a {
    color: #666;
font-size: 13px;
font-family: Inter;
font-style: normal;
font-weight: 300;
line-height: 23.4px;

}
.icon-paragraph {
    display: flex;
    gap: 2px;
    margin-bottom: 18px;
    color: #6E5BAA;
font-size: 14px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 15.4px;
align-items: center;
}
.mail-addres {
    color: #666;
font-size: 13px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 23.4px;
margin-bottom: 5px;
}
.inp-btn {
    position: relative;
    width: 360px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #D7D7D7;
background: #FFF;
padding-top: 8px;
}
.inp-btn button {
    color: #FFF;
text-align: center;
font-size: 13.333px;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.667px;
text-transform: uppercase;
width: 40px;
height: 30px;
border-radius: 3px;
background: #6E5BAA;
border: none;
position: absolute;
left: 313px;
top: 04px;
transition: 150ms;
}
.inp-btn button:hover {
    background: #6854aa;
}
.inp-btn input {
    margin-left: 5px;
    border: none;
    outline: none;
}
.inp-btn:hover {
    border: 1px solid #6E5BAA;
}
.footer-line {
    padding-top: 15px;
   
    border-bottom: 1px solid #D7D7D7;
width: 360px;
}
.footer-link-icons {
    margin-top: 16px;
}


